.box{
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: red;
    animation-duration: ;
    animation: colorChanger 3s infinite;
    animation-timing-function: ease-out;
}
@keyframes colorChanger {
    0%{
        background-color: red;
    }
    50%{
        background-color: navajowhite;
    }
    100%{
        background-color: goldenrod;
    }
}